[submodule "dotfiles/.config/alacritty/themes"]
	path = dotfiles/.config/alacritty/themes
	url = https://github.com/alacritty/alacritty-theme.git
[submodule "dotfiles/.config/kitty/kitty_gruvbox_theme"]
	path = dotfiles/.config/kitty/kitty_gruvbox_theme
	url = https://github.com/wdomitrz/kitty_gruvbox_theme.git
